---
import HeaderLayout from '../layouts/HeaderLayout.astro'
---

<HeaderLayout>
  <div class='form'>
    <h1>Who needs help?</h1>
    <p class='steps'>Step 1 of 3</p>
    <form transition:persist>
      <fieldset>
        <legend>How many dogs need help?</legend>
        <div class='radio-btn'>
          <label html-for='one'>
            <input type='radio' id='one' name='number_of_dogs' />
             1
          </label>
          <label html-for='two'>
            <input type='radio' id='two' name='number_of_dogs' />
             2
          </label>
          <label html-for='more'>
            <input type='radio' id='more' name='number_of_dogs' />
             more
          </label>
        </div>
      </fieldset>
      <fieldset class='checkbox-container large'>
        <legend>Condition of the dog?</legend>
        <label html-for='good'>
          <input type='checkbox' id='good' name='condition_of_dog' />
           Good
        </label>
        <label html-for='anxious'>
          <input type='checkbox' id='anxious' name='condition_of_dog' />
           Anxious
        </label>
        <label html-for='aggressive'>
          <input type='checkbox' id='aggressive' name='condition_of_dog' />
           Agressive
        </label>
        <label html-for='wounded'>
          <input type='checkbox' id='wounded' name='condition_of_dog' />
           Wounded
        </label>
        <label html-for='unknown'>
          <input type='checkbox' id='unknown' name='condition_of_dog' />
           Unknown
        </label>
      </fieldset>
    </form>
    <footer>
      <a href={'/0'}>
        <button class='btn nav-btn prev' type='button'> Previous</button>
      </a>
      <a href={'/2'}>
        <button class='btn nav-btn next' type='button'> Next</button>
      </a>
    </footer>
  </div>
</HeaderLayout>
