---
import HeaderLayout from "../layouts/HeaderLayout.astro";
---
<HeaderLayout>
  <div class='form'>
    <h1>Extra information</h1>
    <p class='steps'>Step 2 of 3</p>
    <form  transition:persist>
      <label html-for='type'>
        <legend>What type of dog is it?</legend>
        <input
          type='text'
          id='type'
          name='type'
          placeholder=' young, old, Laprador, Husky,..'
          
        />
      </label>
      <fieldset class='dog-size'>
        <legend>How big is the dog?</legend>
        <div class='checkbox-container'>
          <label html-for='small' class='checkbox'>
            <input
              type='checkbox'
              id='small'
              name='size'
            />
            Small
          </label>
          <label html-for='middle' class='checkbox'>
            <input
              type='checkbox'
              id='middle'
              name='size'
            />
            Middle
          </label>
          <label html-for='big' class='checkbox'>
            <input
              type='checkbox'
              id='big'
              name='size'
            />
            Big
          </label>
        </div>
      </fieldset>
      <label html-for='time'>
        <legend>When did you see the dog?</legend>
        <input
          placeholder=' morning, noon, 4pm,..'
          type='text'
          id='time'
          name='time'
      
        />
      </label>
    </form>
    <footer>
      <a href={'/1'}>
        <button class='btn nav-btn prev' type='button'> Previous</button>
      </a>
      <a href={'/3'}>
        <button class='btn nav-btn next' type='button'> Next</button>
      </a>
    </footer>
  </div>
</HeaderLayout>