---
import HeaderLayout from '../layouts/HeaderLayout.astro'

const lng = 26.1,
  lat = 44.4,
  zoom = 9


---
<script src="../index.js"></script>
<HeaderLayout>
  <div class='form'>
    <h1>Where is the dog?</h1>
    <p class='steps'>Step 3 of 3</p>
    <form transition:persist>
      <div class='map-sidebar'>
        
      </div>
      <div class='map-container'>
        <iframe
          width='100%'
          height='300'
          id="map"
          ></iframe>
      </div>
      <input
        placeholder=' loaction, area, neighborhood,..'
        type='text'
        aria-label='location'
       
      />
    </form>
    <footer>
      <a href={'/2'}>
        <button class='btn nav-btn prev' type='button'> Previous</button>
      </a>
      <a href={'/success'}>
        <button class='btn nav-btn next' type='button'> Next</button>
      </a>
    </footer>
  </div>
</HeaderLayout>
