---
import HeaderLayout from '@/layouts/HeaderLayout.astro'
---

<HeaderLayout>
  <div class='success'>
    <h1>Successfully reported!</h1>
    <p id='success-p'>Thank you for working together to save the dogs.</p>
    <a href='/'>
      <button type='button' class='btn success-btn'> Report another dog</button>
    </a>
  </div>
</HeaderLayout>
