---
import '../styles/index.scss'
import { ViewTransitions } from "astro:transitions";

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#274c77" />
    <meta
      name="description"
      content="App created to notify animal welfare organizations when seeing an abandoned dog in the streets."
    />
    <meta
      property="og:description"
      content="App created to notify animal welfare organizations when seeing an abandoned dog in the streets."
    />
    <meta property="og:title" content="Astro SOS Animals" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://astro-sos.netlify.app/" />
    <meta
      property="og:image"
      content="/thumbnail-sos.png"
    />
    <meta property="og:determiner" content="" />
    <meta property="og:locale" content="en_US" />

    <link rel="manifest" href="/manifest.json" />

    <script src="../index.js"></script>

    <title>SOS Animals</title>
    <ViewTransitions />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <slot />
  </body>
</html>
