---
import '../styles/index.css'
---


<footer>
    
    <button class='btn nav-btn prev' id="previous" type='button'> Previous</button>
    
    <button class='btn nav-btn next' id="next" type='button'> Next</button>
    
</footer>
