---
import Base from './Base.astro'
import '@/styles/menu.css'

const navigation = [
  { link: '/', text: 'Start' },
  { link: '#', text: 'About' },
  { link: '#', text: "NGO's" },
]
---

<Base>
  <div class='app'>
    <header class='header'>
      <nav>
        <button id='menu-btn' aria-label='menu-bar' type='button'>
          <i class='i-fa-solid-bars'></i>
        </button>
        <ul class={`menu-links`}>
          {
            navigation.map((nav) => (
              <li>
                <a class='nav-link' href={nav.link}>
                  {nav.text}
                </a>
              </li>
            ))
          }
        </ul>
        <h2>Astro SOS Animals</h2>
      </nav>
      <div class={`menu-bg`}></div>
    </header>
    <div transition:animate='slide'>
      <slot />
    </div>
  </div>
</Base>

<script>
  import { afterSwap, pageLoad } from '../utils'
  document.addEventListener('astro:after-swap', afterSwap)

  document.addEventListener('astro:page-load', pageLoad)

</script>
